.formHeader {
    margin-top: 7%;
    margin-bottom: 0;
}

form {
    width: 70%;
    margin: 15px auto;
    padding: 15px;
    font-size: 18px;
}

.form-control {
    width: 400px;
    margin: 0 auto;
}

.btn {
    background-color: #D50032;
    color: white;
    padding: 6px;
    width: 100px;
    margin-top: 10px;
    font-size: 18px;
}

.btn:hover {
    background-color: #002D72;
    color: white;
}

.matchup {
    margin-top: 15px;
}

.versus {
    font-size: 40px;
    margin-left: 25px;
    margin-right: 25px;
}